/* Global classes */
.lrg_img_container {
  width: 60%;
  height: auto;
  margin: 32px 24px;
}

.lrg_img_container img {
  width: 100%;
  height: auto;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

header #left_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header #left_header img {
  margin-left: 24px;
}

header nav {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

header nav span a {
  text-decoration: none;
  margin-left: 16px;
}

/* Main Banner */
#main_banner.container {
  display: flex;
  flex-direction: row;
  background-color: grey;
}

#main_banner.container .banner_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 48px 100px 24px;
  width: 250px;
  line-height: 1.25;
}

#main_banner.container .banner_text h1 {
  font-size: 2rem;
  font-weight: bold;
}

#main_banner.container .banner_text p {
  font-size: 1.25rem;
  margin-top: 10px;
}

#main_banner.container .banner_text .btn {
  display: flex;
  padding: 8px;
  width: 100%;
  background-color: brown;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
